<% include ../partials/header %>

    <h2>Editing Finger Sizes For <%= user.firstname + " " + user.lastname %></h2>

    <a href="/drillings/<%= user._id %>">&lt&lt Back</a>

<div class="fingersize">
    <form action="/drillings/<%= user._id %>?_method=PUT" method="POST">
      <h3>Fingers:</h3>
      <h4>Left finger</h4>
      <label for="lgrip">Grips
        <input name="lgrip" type="text" value="<%= user.left.grip %>" required>
      </label>
      <label for="lhol">Hole Size
        <input name="lhol" type="text" value="<%= user.left.holesize %>" required>
      </label>
      <label for="lpitchfr">Pitch F/R
        <input name="lpitchfr" type="text" value="<%= user.left.pitchfr %>" required>
      </label>
      <label for="lpitchlr">Pitch L/R
        <input name="lpitchlr" type="text" value="<%= user.left.pitchlr %>" required>
      </label>
      <label for="loval">Oval Size
        <input name="loval" type="text" value="<%= user.left.oval %>" required>
      </label>
      <label for="lmach">Mach Set
        <input name="lmach" type="text" value="<%= user.left.mach %>" required>
      </label>

      <h4>Right finger</h4>
      <label for="rgrip">Grips
        <input name="rgrip" type="text" value="<%= user.right.grip %>" required>
      </label>
      <label for="rhol">Hole Size
        <input name="rhol" type="text" value="<%= user.right.holesize %>" required>
      </label>
      <label for="rpitchfr">Pitch F/R
        <input name="rpitchfr" type="text" value="<%= user.right.pitchfr %>" required>
      </label>
      <label for="rpitchlr">Pitch L/R
        <input name="rpitchlr" type="text" value="<%= user.right.pitchlr %>" required>
      </label>
      <label for="roval">Oval Size
        <input name="roval" type="text" value="<%= user.right.oval %>" required>
      </label>
      <label for="rmach">Mach Set
        <input name="rmach" type="text" value="<%= user.right.mach %>" required>
      </label>
    
      <h4>Thumb</h4>
      <label for="tslug">Slug
        <input name="tslug" type="text" value="<%= user.thumb.slug %>" required>
      </label>
      <label for="tgrip">Grips
        <input name="tgrip" type="text" value="<%= user.thumb.grip %>" required>
      </label>
      <label for="thol">Hole Size
        <input name="thol" type="text" value="<%= user.thumb.holesize %>" required>
      </label>
      <label for="tpitchfr">Pitch F/R
        <input name="tpitchfr" type="text" value="<%= user.thumb.pitchfr %>" required>
      </label>
      <label for="tpitchlr">Pitch L/R
        <input name="tpitchlr" type="text" value="<%= user.thumb.pitchlr %>" required>
      </label>
      <label for="toval">Oval Size
        <input name="toval" type="text" value="<%= user.thumb.oval %>" required>
      </label>
      <label for="tmach">Mach Set
        <input name="tmach" type="text" value="<%= user.thumb.mach %>" required>
      </label>
      <input type="submit">
    </form> 
</div>