<% include ../partials/header %>

This is for the pro shop side to be able to look up a customer.
An individual user would have a different interface.

<div>
  <a href="/drillings/new">Create a New User</a>
</div>

<div class="customerlookup">
    <form>
        <h2>Customer Lookup</h2>
        <label for="fname">First Name
            <input type="text" placeholder="First Name">
        </label>
        <label for="fname">Last Name
            <input type="text" placeholder="Last Name">
        </label>
        <label for="fname">Email
            <input type="email" placeholder="Email">
        </label>
        <input type="submit">
    </form>
</div>


  <div>
    <table>
      <caption>Users in database</caption>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
          <% users.forEach(function(user){ %>
          <tr>
            <td><a href="/drillings/<%= user._id %>"><%= user.firstname %></a></td>
            <td><a href="/drillings/<%= user._id %>"><%= user.lastname %></a></td>
            <td><a href="/drillings/<%= user._id %>"><%= user.email %></a></td>
            <% }); %>
          </tr>
      </tbody>
    </table>
  </div>

<!-- <div class="fingersize">
  <table>
    <caption>Sizes for :username:</caption>
    <thead>
      <tr>
        <th></th>
        <th>Left Finger</th>
        <th>Right Finger</th>
        <th>Thumb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Slug</td>
        <td></td>
        <td></td>
        <td>:userslug:</td>
      </tr>
      <tr>
        <td>Grip</td>
        <td>:usergrip:</td>
        <td>:usergrip:</td>
        <td>:usergrip:</td>
      </tr>
      <tr>
        <td>Hole Size</td>
        <td>:userhs</td>
        <td>:userhs</td>
        <td>:userhs</td>
      </tr>
      <tr>
        <td>Pitch F/R</td>
        <td>:userpitchfr:</td>
        <td>:userpitchfr:</td>
        <td>:userpitchfr:</td>
      </tr>
      <tr>
        <td>Pitch L/R</td>
        <td>:userpitchlr:</td>
        <td>:userpitchlr:</td>
        <td>:userpitchlr:</td>
      </tr>
      <tr>
        <td>Oval Size</td>
        <td>:useroval:</td>
        <td>:useroval:</td>
        <td>:useroval:</td>
      </tr>
      <tr>
        <td>Mach Set</td>
        <td>:usermach</td>
        <td>:usermach</td>
        <td>:usermach</td>
      </tr>
    </tbody>
  </table> -->
</div>